:root{
  --primary-color: #0863c9;
  /* #0863c9 */
  --secondary-color:#fafe96 ;
  /* #fafe96 */
  --background-color: #4cd5ff ;
  /* #4cd5ff */
  --container-color:#ffe860 ;
  /* #ffe860 */
  --emphasize-color:#0c0684 ;
  /* #0c0684 */
}
/* principal */
body{
  background-color: var(--primary-color)!important;
  overflow-y: auto;
  padding: 0px;
  margin: 0px;
}
header{
  background-color: var(--container-color);
  display: block;
}

main{
  margin: 120px;
  text-align: center;
  color: white;
}
nav{
  display: flex;
  flex-direction: row;
  row-gap: 0;
}
img{
  height: 200px;
}
footer {
  background-color: var(--container-color);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 56px;
  padding-top: 10px;
  color: var(--emphasize-color);
  }
ul{
  color: white !important;
}

.navbar{
  width: 100% !important;
}
.nav-link{
  color: var(--emphasize-color) !important;
  font-family: Comic Sans MS, Comic Sans, cursive !important;
  font-size: 30px !important;
}
.nav-link:hover{
  color: var(--background-color)!important;
}

.card-title{
  font-size: medium !important;
  color: var(--emphasize-color) !important
}
.ingredientes{
  color: var(--emphasize-color) !important;
  font-size: small;
  text-align: left;
}
.card{
  background-color: var(--secondary-color)!important;
}
.card:hover{
  background-color: var(--container-color)!important;
}
.card-text{
  font-size: small !important;
}
